/* General styles */
body {
    background-color: #150607; /* Very dark red background color */
    color: #a67273; /* Light text color for better contrast */
    font-family: 'RunicFont', 'New Tegomin', Arial, sans-serif; /* Use the runic font as the primary font, with fallbacks */
}

/* Welcome screen styles */
.welcome-screen {
    text-align: center;
    padding: 50px; /* Add some padding for better spacing */
}

.welcome-screen img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust the maximum height as needed */
    margin: 0 auto;
    border-radius: 10px; /* Add a slight border radius for a softer look */
}

.buttons {
    margin-top: 20px;
    text-align: center; /* Center align the buttons */
}

.buy-button,
.subscribe-button,
#learn-more-button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    color: #a67273; /* Light text color */
    background-color: #390e0d; /* Glowing red button color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(105, 45, 45, 0.5); /* Glowing effect */
}

.buy-button:hover,
.subscribe-button:hover,
#learn-more-button:hover {
    background-color: #652827; /* Brighter red on hover */
}

/* More info section styles */
#more-info {
    padding: 50px;
    text-align: center; /* Center align the content */
}

#more-info img.map-image {
    max-width: 100%;
    height: auto;
    max-height: 400px; /* Limit the height of the map image */
    margin: 0 auto;
    border-radius: 10px;
}

#more-info .content {
    margin-top: 20px;
}

#more-info .content p {
    margin-bottom: 20px;
}

/* Hidden class */
.hidden {
    display: none;
}

/* Rest of your CSS styles remain unchanged */

.bottom-banner {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 10px;
}


/* Rest of your CSS styles remain unchanged */

/* Styles for the "Learn More" text */
.learn-more {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #a67273; /* Light text color */
    cursor: pointer;
}

.learn-more:hover {
    text-decoration: underline;
}
